{% extends "layout.html" %}
{% block  content %}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <img src="{{ user_info['img_URL'] }}">
            <div class = "col-10"> 
                <h1 class="display-4"> {{ user_info['username'] }} </h1>
                <hr class="my-4">
                <p> {{ user_info['about'] }}</p>
            </div>
        </div>
    </div>
</div>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid black;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #343a40;
      border: 1px solid black;
    }
</style>   
<div class="container-fluid" style="font-size: 25px">
    <!-- list_info[COMPLETED = 0, PLANNING = 1, DROPPED = 2, HOLD = 3, WATCHING = 4] -->
    <h3> Watching </h3>
    <table>
        <tr>
            <th class="col-11">Title</th>
            <th class="col-1">Score</th>
        </tr>
        {% for anime in list_info['CURRENT'] %}
        <tr>
            <td class="d-flex align-items-center">
                <img style="float:left" src="{{ list_info['CURRENT'][anime][1] }}">
                <a href="{{url_for('anime_view', anime_id = list_info['CURRENT'][anime][2]) }}" class="ml-5">{{ anime }}</a>
            </td>
            <td class="text-center">{{ list_info['CURRENT'][anime][0] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Completed</h3>
    <table>
        <tr>
            <th class="col-11">Title</th>
            <th class="col-1">Score</th>
        </tr>
        {% for anime in list_info['COMPLETED'] %}
        <tr>
            <td class="d-flex align-items-center">
                <img style="float:left" src="{{ list_info['COMPLETED'][anime][1] }}">
                <a href="{{url_for('anime_view', anime_id = list_info['COMPLETED'][anime][2]) }}" class="ml-5">{{ anime }}</a>
            </td>
            <td class="text-center">{{ list_info['COMPLETED'][anime][0] }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <h3> Hold </h3>
    <table>
        <tr>
            <th class="col-11">Title</th>
            <th class="col-1">Score</th>
        </tr>
        {% for anime in list_info['PAUSED'] %}
        <tr>
            <td class="d-flex align-items-center">
                <img style="float:left" src="{{ list_info['PAUSED'][anime][1] }}">
                <a href="{{url_for('anime_view', anime_id = list_info['PAUSED'][anime][2]) }}" class="ml-5">{{ anime }}</a>
            </td>
            <td class="text-center">{{ list_info['PAUSED'][anime][0] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3> Dropped </h3>
    <table>
        <tr>
            <th class="col-11">Title</th>
            <th class="col-1">Score</th>
        </tr>
        {% for anime in list_info['DROPPED'] %}
        <tr>
            <td class="d-flex align-items-center">
                <img style="float:left" src="{{ list_info['DROPPED'][anime][1] }}">
                <a href="{{url_for('anime_view', anime_id = list_info['DROPPED'][anime][2]) }}" class="ml-5">{{ anime }}</a>
            </td>
            <td class="text-center">{{ list_info['DROPPED'][anime][0] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Planning</h3>
    <table>
        <tr>
            <th class="col-11">Title</th>
            <th class="col-1">Score</th>
        </tr>
        {% for anime in list_info['PLANNING'] %}
        <tr>
            <td class="d-flex align-items-center">
                <img style="float:left" src="{{ list_info['PLANNING'][anime][1] }}">
                <a href="{{url_for('anime_view', anime_id = list_info['PLANNING'][anime][2]) }}" class="ml-5">{{ anime }}</a>
            </td>
            <td class="text-center">{{ list_info['PLANNING'][anime][0] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock content %}